<div class="block border p-2 mx-auto justify-center py-2">

    <h3 class="mt-4 text-sm font-bold text-white text-center sm:text-xl">{{cityInput.cityName}}-{{cityInput.country}}</h3>
  
    <p class="mt-2  max-w-sm text-white text-center text-sm sm:text-xl">
      {{cityInput.month}}
    </p>
    <div class="flex items-center">Visited!
        &#8203;
        <input type="checkbox" class="size-4 rounded border-gray-300" id="Option1" />
      </div>
      <button (click)="removeComponent()" class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
        Remove
      </button>
</div>
